body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #ECF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;

    .txt-white {
        color: #FFF;
    }

    .txt-grey {
        color: #CFCFCF;
    }

    .txt-dark {
        color: #48556A;
    }

    .txt-light {
        color: #ECF2F8;
    }

    .attribution {
        font-style: italic;
        font-size: 11px;
        margin: 24px 0;
    }
}

