
.card {
    width: 263px;
    margin-bottom: 24px;
    padding: 26px 32px 32px;
    border-radius: 8px;
    position: relative;
    z-index: 1;

    &:last-child {
        margin-bottom: 0;
    }

    .quotation {
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 24px;
    }

    &#card-1 {
        background-color: #733FC8;
    }

    &#card-2 {
        background-color: #48556A;
    }

    &#card-3 {
        background-color: #FFF;
    }

    &#card-4 {
        background-color: #19202D;
    }

    &#card-5 {
        background-color: #FFFFFF;
    }

    .author {
        display: grid;
        grid-template-columns: 40px auto;
        margin-bottom: 18px;

        img {
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            height: 28px;
            width: 28px;
        
            &#picture-1, &#picture-4 {
                border-color: #A775F1;
            }
        
            &#picture-2, &#picture-3 {
                border-color: transparent;
            }
        }
        
        .profil {
            display: flex;
            flex-direction: column;

            .name {
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 4px;
            }

            .grade {
                font-weight: 500;
                font-size: 11px;
                opacity: 0.5;
            }
        }
    }

    .title {
        font-size: 20px;
        margin-bottom: 40px;
        line-height: 24px;
        font-weight: 600;
        z-index: 4;
    }

    .desc {
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        opacity: 0.7;
    }

}
